
*{
    font-family: Roboto;
}

.header-main{
    background-color: #EAC926;
}

header{
    background-color: #EAC926;
}

main{
    background-color: #EAC926;
}

.logo{
    width: 350px;
}

#titulares{
    font-size: 24px;
}

.burger-menu{
    margin: auto;
    font-size: 35px;
    width: 40px;
    background-color: #1259c3;
    color: white;
    text-align: center;
}

.nav-menu{
    font-size: 30px;
}

.nav-usuarios{
    font-size: 30px;
}

.articulo-imagen{
    width: 100%;
    margin: auto;
}

#articulo-precio{
    font-size: 18px;
}

#articulo-descuento{
    font-size: 16px;
}

#articulo-descripcion{
    font-size: 16px;
}

footer{
    width: 100%;
    height: auto;
    background-color: white;
    color: #03264C;
    text-align: center;
}

#footer-icon{
    font-size: 2em;
    margin-top: 30px;
}

.footer-titulo{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

.footer-descripcion{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.footer-copyright{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
